.element__like {
  background-image: url(../../../images/like.svg);
  width: 22px;
  margin: 0;
  height: 19px;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.element__like:hover {
  opacity: 0.5;
}

.element__like:active {
  background-image: url(../../../images/activelike.svg);
}