.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  background: #000000;
  margin-left: 18px;
  margin-top: 15px;
  margin-right: 0;
  background-image: url(../../../images/EditButton.svg);
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media  screen and (max-width: 949px) {
  .profile__edit-button {
    margin-top: 3px;
    margin-left: 12px;
  }
}

@media  screen and (max-width: 624px) {
  .profile__edit-button {
    margin-left: 10px;
  }
}