.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 2px solid #FFFFFF;
  background: #000000;
  margin-left: 320px;
  margin-top: 15px;
  margin-right: 0;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media  screen and (max-width: 949px) {
  .profile__edit-button {
    margin-left: 215px;
  }
}

@media  screen and (max-width: 624px) {
  .profile__edit-button {
    margin-left: 215px;
    margin-top: 0;
  }
}