.popup__input {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: 358px;
  height: 27px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000000;
  outline: none;
  margin-bottom: 0;
  margin-top: 30px;
}

.popup__input:first-child {
  margin-top: 54px;
}

@media  screen and (max-width: 624px) {
    .popup__input {
      width: 238px;
    }
  }