.profile  {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  display: flex;
}

@media  screen and (max-width: 949px) {
  .profile  {
    max-width: 590px;
  }
}

@media  screen and (max-width: 624px) {
  .profile  {
    max-width: 282px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
  }
}