.form__btn-save {
  width: 358px;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-family: Inter;
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 48px;
}

.form__btn-save:hover {
  opacity: 0.8;
}

@media  screen and (max-width: 624px) {
  .form__btn-save {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}