.profile__paragraph-nam {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: hsl(0, 0%, 100%);
  margin-bottom: 0;
  max-width: 294px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
}

@media  screen and (max-width: 949px) {
  .profile__paragraph-nam  {
    min-width: 189px;
    font-size: 27px;
    line-height: 33px;
  }
}

@media  screen and (max-width: 624px) {
  .profile__paragraph-nam  {
    min-width: 189px;
    max-width: 189px;
    text-align: center;
  }
}