.profile__paragraph-nam {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: hsl(0, 0%, 100%);
  margin-top: -39px;
  margin-bottom: 16px;
  max-width: 294px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media  screen and (max-width: 949px) {
  .profile__paragraph-nam  {
    min-width: 189px;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
  }
}

@media  screen and (max-width: 624px) {
  .profile__paragraph-nam  {
    margin-bottom: 14px;
    margin-top: -29px;
    min-width: 189px;
    margin-right: 30px;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}