.popup__head {
  box-sizing: border-box;
  min-width: 430px;
  max-width: 430px;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
  z-index: 1;
}

@media  screen and (max-width: 624px) {
  .popup__head {
    max-width: 282px;
    min-width: 282px;
  }
}