.header__logo {
  background-image: url(../../../images/Vector.svg);
  min-width: 142px;
  max-height: 33px;
  min-height: 33px;
  margin-bottom: 41px;
}

.header__logo:hover {
  opacity: 0.4;
  transition-duration: 0.1s;
  transition-timing-function: linear;
} 

@media  screen and (max-width: 619px) {
  .header__logo {
    background-image: url(../../../images/mobileLogo.svg);
    min-width: 104px;
    max-height: 24px;
    min-height: 24px;
    padding-left: 0px;
    margin-bottom: 31px;
    margin-left: 27px;
  }
}