.header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  max-width: 880px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media  screen and (max-width: 949px) {
  .header {
    max-width: 624px;
  }
}

@media  screen and (max-width: 624px) {
  .header {
    margin-top: 28px;
    max-width: 320px;
    min-width: 320px;
  }
}