.header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  max-width: 880px;
  min-height: 74px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #545454;
}

@media  screen and (max-width: 949px) {
  .header {
    max-width: 624px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media  screen and (max-width: 624px) {
  .header {
    margin-top: 28px;
    width: 320px;
    max-height: 56px;
    min-height: 56px;
  }
}