.elements {
  margin-top: 46px;
  display: grid;
  grid-template-columns: 282px 282px 282px;
  grid-template-rows: 362px 362px;
  row-gap: 20px;
  column-gap: 17px;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}
@media  screen and (max-width: 949px) {
  .elements {
    max-width: 582px;
    grid-template-columns: 282px 282px;
    grid-template-rows: 362px 362px 362px;
  }
}

@media  screen and (max-width: 624px) {
  .elements {
    margin-top: 36px;
    max-width: 282px;
    grid-template-columns: 282px;
    grid-template-rows: repeat(6, 362px);
  }
}