.popup__close {
  color: #FFFFFF; 
  font-size: 60px;
  transform: rotate(-45deg);
  font-weight: bold;
  margin-top: -40px;
  margin-left: 430px;
  cursor: pointer;
  padding: 0;
  border: 0;
}

.popup__close:hover {
  opacity: 0.6;
}

@media  screen and (max-width: 624px) {
  .popup__close {
    font-size: 38px;
    margin-left: 260px;
    margin-top: -43px;
  }
}