.form__input-name {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: 358px;
  height: 27px;
  margin-bottom: 30px;
  margin-top: 54px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  outline: none;
  margin-bottom: 0;
}

@media  screen and (max-width: 624px) {
  .form__input-name {
    width: 238px;
  }
}
