.profile__avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

@media  screen and (max-width: 949px) {
  .profile__avatar {
    margin-left: 30px;
  }
}

@media  screen and (max-width: 624px) {
  .profile__avatar  {
    margin-left: 0;
    width: 120px;
    height: 120px;
  }
}