@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__paragraph-nam/profile__paragraph-nam.css);
@import url(../blocks/profile/__paragraph-job/profile__paragraph-job.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__plus/profile__plus.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__card/element__card.css);
@import url(../blocks/element/__block/element__block.css);
@import url(../blocks/element/__text/element__text.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_visible/popup_visible.css);
@import url(../blocks/popup/_overlay/popup_overlay.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__head/popup__head.css);
@import url(../blocks/popup/__text/popup__text.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/form/form.css);
@import url(../blocks/form/__btn-save/form__btn-save.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
