.footer {
  max-width: 880px;
  display: flex;
  justify-content: flex-start;
  margin: 67px auto 60px auto;
}

@media  screen and (max-width: 949px) {
  .footer {
    max-width: 590px;
    margin-top: 55px;
    margin-bottom: 45px;
  }
}

@media  screen and (max-width: 624px) {
  .footer {
    max-width: 282px;
    margin-top: 48px;
    margin-bottom: 36px;
  }
}