.footer {
  max-width: 880px;
  display: flex;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-top: 67px;
  margin-bottom: 60px;
  max-height: 18px;
}

@media  screen and (max-width: 949px) {
  .footer {
    max-width: 590px;
    margin-top: 55px;
    margin-bottom: 45px;
  }
}

@media  screen and (max-width: 624px) {
  .footer {
    max-width: 282px;
    max-height: 14px;
    margin-top: 48px;
    margin-bottom: 36px;
  }
}