.profile__paragraph-job {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media  screen and (max-width: 624px) {
  .profile__paragraph-job {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-right: auto;
    width: 282px;
    align-items: flex-start;
  }
}